<li>
  <%= gravatar_for user, size: Settings.user.gravatar.for_user %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to t("users.user.delete"), user, method: :delete,
      data: {confirm: t("layouts.messenger.you_sure")} %>
  <% end %>
</li>
